In [51]:
# Importing necessary packages
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [52]:
dataframe = pd.read_csv('train.csv')
dataframe.head()
le = preprocessing.LabelEncoder()
dataframe = dataframe.apply(le.fit_transform)

In [59]:
y = dataframe['Survived']
X = dataframe.drop(['Survived', 'Name', 'PassengerId', 'Ticket', 'Cabin'], axis=1)
X.head()

   Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0       2    1   28      1      0    18         4
1       0    0   51      1      0   207         2
2       2    0   34      0      0    41         4
3       0    0   47      1      0   189         4
4       2    1   47      0      0    43         4

In [60]:
from sklearn import preprocessing
#X = X.apply(preprocessing.LabelEncoder().fit_tranform)

#X = pd.concat([Pclass, Sex, Age, SibSp, Parch, Fare, Embarked], axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state=9)

In [61]:
clf_gini = DecisionTreeClassifier(criterion='gini')
clf_gini.fit(X_train,y_train)

y_prediction_gini = clf_gini.predict(X_test)
accuracy_gini = accuracy_score(y_test,y_prediction_gini)

accuracy_gini

0.74301675977653636